/bin/
/obj/

*.exe
*.exe~
*.dll
*.so
*.dylib

/vendor/

*.test

*.out

*.idea/
*.vscode
*.swp
*.swo
*.DS_Store


*.log

*.tmp
*.temp

config/config.yaml

*.env
.env
.env.local
.env.*.local
*txt
*.txt
